/* LANDSCAPE TABLETS -> below 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* TABLETS -> below 940px */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .blog-title {
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
  }

  .blog-subtitle {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .blog-btn:link,
  .blog-btn:visited {
    margin: 3.2rem 0 1rem 0;
    padding: 1.4rem;
    font-size: 1.6rem;
  }
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-list:link,
  .main-nav-list:visited {
    font-size: 3rem;
  }
}

/* SMALLER TABLETS -> below 768px */
@media (max-width: 48em) {
  .contact form {
    width: 70%;
  }
  .blog-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .blog-content {
    padding: 2.4rem;
  }
  .blog-subtitle {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-experience {
    padding-top: 9.6rem;
  }
  .row {
    grid-template-columns: 1fr;
  }
  .row .col:nth-child(2) {
    margin-top: 3rem;
  }
}

/* PHONES => BELOW 550px  */
@media (max-width: 34.5em) {
  .section-contact {
    padding: 7.2rem 6.4rem;
  }
  .contact form {
    width: 100%;
  }
  .grid--2-cols,
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
}
