* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* ================================== */
/* REUSABLE GRIDS */
/* ================================== */
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* ================================== */
/* HEADER */
/* ================================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  /* because we want this to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 2rem;
  transition: all 0.3s;
}

/* ================================== */
/* NAVIGATION */
/* ================================== */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  color: #222;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #777;
  padding-bottom: 1rem;
  border-bottom: 1px solid #777;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  color: #fff;
  border-radius: 9px;
  background-color: #777;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #333;
}

/* MOBILE NAVIGATION */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* sticky navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ================================== */
/* HERO SECTION */
/* ================================== */
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  /* background-color: beige; */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.hero-text {
  align-self: center;
  text-align: center;
}

.hey-text,
.typed-text {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 4rem;
  color: #222;
  text-align: center;
  margin-bottom: 1.5rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.icon {
  cursor: pointer;
  height: 3.2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.btn-container a {
  text-decoration: none;
}

.btn {
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 300ms ease;
  padding: 1.7rem;
  border-radius: 3.2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background-color: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background-color: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* ================================== */
/* CONTACT SECTION */
/* ================================== */
.section-contact {
  padding: 9.6rem;
  /* background-color: burlywood; */
  overflow-x: hidden;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  overflow-x: hidden;
}

.heading-secondary {
  font-size: 4rem;
  color: #222;
  text-align: center;
  margin-bottom: 1rem;
}

.contact form {
  width: 50%;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 1.8rem;
  background: transparent;
  border: 1px solid #777;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #333;
  margin: 1.2rem 0;
}

.field.error .item {
  border-color: #d93025;
}

.field .item::placeholder {
  color: #999;
}

textarea {
  font-family: "Rubik", sans-serif;
}

form .textarea-field .item {
  resize: none;
}

.contact-btn {
  padding: 1.2rem 3.2rem;
  background-color: rgb(53, 53, 53);
  color: white;
  border: none;
  outline: none;
  border-radius: 3.2rem;
  box-shadow: 0 0 10px rgb(53, 53, 53);
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2.5rem;
  transition: all 0.5s;
  margin-bottom: 1.2rem;
}

.contact-btn:hover {
  box-shadow: none;
}

.field .error-txt {
  font-size: 1.2rem;
  color: #d93025;
  text-align: left;
  margin: -0.5rem 0 1rem;
  display: none;
}

.field.error .error-txt {
  display: block;
}

/* ================================== */
/* EXPERIENCE SECTION */
/* ================================== */
.section-experience {
  padding: 9.6rem 4.8rem;
  /* background-color: cadetblue; */
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.exp-heading {
  font-size: 3rem;
  color: #222;
  text-align: left;
  padding: 0 0 2rem 3rem;
}

.col .contents {
  padding: 0 3rem;
  border-left: 2px solid #bababa;
}

.col .contents .box {
  position: relative;
  padding: 2rem;
  border: 1px solid #eaeaea;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 2rem;
}

.col .contents .box:hover {
  box-shadow: 0 0.3rem 1.2rem 0 #ccc;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  right: calc(100% + 2.4rem);
  top: -0.1rem;
  background-color: #bababa;
  border: 2px solid #fff;
}

.box h4 {
  font-size: 1.4rem;
  position: relative;
  color: #222;
}

.box h3 {
  font-size: 1.8rem;
  padding: 1rem 0 0.5rem 0;
  color: #444;
}

.box p {
  line-height: 1.2;
  color: #666;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.box .company-name {
  margin-top: 0;
}

.exp-list {
  list-style: none;
  margin-top: 1.5rem;
}

.exp-list-item {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  line-height: 2rem;
  color: #666;
}

/* ================================== */
/* BLOG SECTION */
/* ================================== */
.section-blog {
  padding: 9.6rem;
  /* background-color: darkgray; */
}

.blog,
.project {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.4s;
}

.blog:hover,
.project:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.blog-content {
  padding: 3.6rem;
}

.blog-img {
  width: 100%;
}

.blog-title {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  color: #222;
}

.blog-subtitle {
  font-size: 1.6rem;
  margin: 1.2rem 0;
  color: #555;
}

.blog-btn:link,
.blog-btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.4rem 0 1.6rem 0;
  padding: 2rem;
  border-radius: 3rem;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}

.blog-btn:active,
.blog-btn:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0.3rem 1.2rem 0 #ccc;
}

.section-blog .heading-secondary,
.section-project .heading-secondary {
  margin-bottom: 6.4rem;
}

/* ================================== */
/* PROJECT SECTION */
/* ================================== */
.section-project {
  padding: 9.6rem;
}

.project-title {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
  color: #222;
}

.tech-stack {
  font-size: 2rem;
  color: #666;
}

.tech-stack span {
  font-weight: 600;
  color: #444;
}

.project-content {
  padding: 2.4rem;
}

.project .blog-img {
  height: 23rem;
}

/* ================================== */
/* FOOTER SECTION */
/* ================================== */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

footer p {
  font-size: 1.6rem;
  color: #666;
}
